* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.logo {
   height: 200px;
   width: 700px;
   padding-left: 150px;
}


/*splash Screen */

#splashScreen {
    width: 1180px;
    height: 680px;
    border: 4px solid black;
    background: url(./src/loadinggif.GIF);
    background-size: 100% 100%;
    background-repeat: none;
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    align-items: flex-end; 
}


#StartButton {
    margin-top: 50%;
    width: 430px;
    height: 80px;
    background: transparent;
    font-size: 30px;
    letter-spacing: 5px;
    font-family: 'Press Start 2P', cursive;
    font-weight: 900;
    -webkit-text-stroke: 1px #000000;
    border: none;
    float: left;
    color: #fff;
    outline: none;
}

#StartButton:hover {
    color: black;
    cursor: pointer;
}

#startStoryBtn{
    margin-top: 50%;
    width: 430px;
    height: 80px;
    background: transparent;
    font-size: 30px;
    letter-spacing: 5px;
    font-family: 'Press Start 2P', cursive;
    font-weight: 900;
    -webkit-text-stroke: 1px #000000;
    border: none;
    color: #fff;
    float: right;
    outline: none;
}

#startStoryBtn:hover{
    color: black;
    cursor: pointer;
}

.name {
    color: white;
}


/* canvas css */

#myCanvas {
    width: 1180px;
    height: 680px; 
    border: 4px solid black;
    background: url(https://i.pinimg.com/originals/54/fb/d3/54fbd3e940d1e222e5d2d55f5644c241.gif);
    background-size: 100% 100%;
    background-repeat: none;
}


#Bosslevel{
    width: 1180px;
    height: 680px;  
    border: 4px solid black;
    background: url(./src//animated.GIF);
    background-size: 100% 100%;
    background-repeat: none;
}

/* story line */

#story0 {
    width: 1180px;
    height: 680px; 
    border: 4px solid black;
    background: url(./src/newstoryline/animated\ 6.GIF);
    background-size:cover;
    background-position: center;
    background-repeat: none;
    display: flex;
    justify-content: center;
    align-items: center; 
}

#story1 {
    width: 1180px;
    height: 680px;  
    border: 4px solid black;
    background: url(./src/newstoryline/animated.GIF);
    background-size:cover;
    background-position: center;
    background-repeat: none;
    /* display: flex;
    justify-content: center;
    align-items: center;  */
}

#story2 {
    width: 1180px;
    height: 680px;  
    border: 4px solid black;
    background: url(./src/newstoryline/IMG_0598.GIF);
    background-size: 100% 100%;
    background-repeat: none;
}
#story3 {
    width: 1180px;
    height: 680px; 
    border: 4px solid black;
    background: url(./src/newstoryline/animated\ 4.GIF);
    background-size: 100% 100%;
    background-repeat: none;
}
#story4 {
    width: 1180px;
    height: 680px;  
    border: 4px solid black;
    background: url(./src/storyline/story4.GIF);
    background-size: 100% 100%;
    background-repeat: none;
}
#story5 {
    width: 1180px;
    height: 680px;  
    border: 4px solid black;
    background: url(./src/newstoryline/animated\ 2.GIF);
    background-size: 100% 100%;
    background-repeat: none;
}
#loading {
    width: 1180px;
    height: 680px;  
    border: 4px solid black;
    background: url(./src/newstoryline/animated\ 3.GIF);
    background-size: 100% 100%;
    background-repeat: none;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

.animate__fadeInDown {
    width: 800px;
    height: 150px; 
    margin-top: 42%;
    margin-left: 15%;
    border-radius: 30px;
    float: left;
    overflow: hidden;
    background: url('./src/textb.png');
    background-size: 100% 100%;
    background-repeat: none;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}

.text-story {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  margin-left: 8%;
  margin-top: 8%;
  font-size: 16px;
  color: #333;
  animation: typing 3.5s steps(40, end),blink-caret .75s step-end infinite;
  font-family: 'Press Start 2P', cursive;
}

.nextBtn {
    margin-left: 5%;
    margin-top: 50%;
    width: 100px;
    height: 100px;
    background: url(./src/next8bit.png);
    background-size: 100% 100%;
    background-repeat: none;
    border: none;
    outline: none;
    cursor: pointer;
    float: right;
}

#loading-game-screen{
    width: 1180px;
    height: 680px;  
    border: 4px solid black;
    background: url(./src/gameloadingscreen.gif);
    background-size: 100% 100%;
    background-repeat: none;
}

#loading-game-screen2{
    width: 1180px;
    height: 680px;  
    border: 4px solid black;
    background: url(./src/final_602d9d714f935d00694f094d_288040.gif);
    background-size: 100% 100%;
    background-repeat: none;
}

#loading-boss-screen{
    width: 1180px;
    height: 680px;  
    border: 4px solid black;
    background: url(./src/newbossloading.gif);
    background-size: 100% 100%;
    background-repeat: none;
}

#loading-game-screen-survival {
    width: 1180px;
    height: 680px;  
    border: 4px solid black;
    background: url(./src/IMG_1388.GIF);
    background-size: 100% 100%;
    background-repeat: none;
}

/* win or lose */

#normal-lost {
    width: 1180px;
    height: 680px;  
    border: 4px solid black;
    background: url(./src/normallost.gif);
    background-size: 100% 100%;
    background-repeat: none;
    text-align: center;
}

#losing-page {
    width: 1180px;
    height: 680px;  
    border: 4px solid black;
    background: url(./src/lose.GIF);
    /* background-color: black; */
    background-size: 100% 100%;
    background-repeat: none;
    text-align: center;
}

#winning-page{
    width: 1180px;
    height: 680px;  
    border: 4px solid black;
    background: url(./src/gameover.GIF);
    background-size: 100% 100%;
    background-repeat: none;
}

.yesandno {
    margin-top: 50%;
}

.yesandno > button {
    font-family: 'New Rocker', cursive;
    color: white;
    background: transparent;
    cursor: pointer;
    outline: none;
    border: none;
    height: 60px;
    width: 90px;
    font-size: 45px;
}

.replay-game-lose {
    margin-left: 48%;
    margin-top: 25%;
}

.replay-game-lose > button {
    font-family: 'New Rocker', cursive;
    color: white;
    background: transparent;
    cursor: pointer;
    outline: none;
    border: none;
    height: 60px;
    width: 90px;
    font-size: 35px;
}

.playAgainYes:hover {
    color: green;
}

.playAgainNo:hover{
    color: red;
}

/* links to developer paage */

.all-links{
    height: 245px;
    width: 100px;
    background: transparent;
    float: right;
}

.all-links:hover{
    border-left: 1px solid rgba(255, 255, 255, 0.44);
    border-bottom: 1px solid rgba(255, 255, 255, 0.44);
    border-top: 1px solid rgba(255, 255, 255, 0.44);
    background: rgba(0, 0, 0, 0.687);
}

.link1{
    margin-left: 15%;
    width: 60px;
    height: 60px;
    background: url(./src/linkendof.gif);
    background-size: 100% 100%;
    background-repeat: none;
}
.link2{
    margin-top: 20%;
    margin-left: 10%;
    width: 75px;
    height: 65px;
    background: url(./src/githubbbb.png);
    background-size: 100% 100%;
    background-repeat: none;
}
.link3{
    margin-top: 20%;
    margin-left: 15%;
    width: 60px;
    height: 60px;
    background: url(./src/angellist.png);
    background-size: 100% 100%;
    background-repeat: none;
}

.link1:hover {
cursor: pointer; 
}
.link2:hover {
cursor: pointer; 
}
.link3:hover {
cursor: pointer; 
}